* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1C1C1C;
  width: 300px;
}

.info > h1, .info >h3, .info > h4{
  text-align: center;
} 

.info > h1 {
  color:azure
}

.info > h3 {
  color:grey
}

.info > h4 {
  color:grey
}

.info > nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  margin-top: 50px;
  border-radius: 10px;
}

.about > h3{
  color: grey
}

.about > p{
  color: rgb(233, 220, 220);
}

.interests > h3 {
  color:grey
}

.interests > p{
  color: rgb(233, 220, 220);
}
.footer {
  display: flex;
  padding: 10px;
  margin: 10px;
}

.footer > a {
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    background-color: rgb(94, 88, 88);
    border-radius: 10px;

}